In [1]:
from tensorflow.keras.models import load_model

In [2]:
N = 7

In [3]:
dir_model = 'saved_models'
save_name = f'model_{N}'

In [4]:
import os

In [5]:
path = os.path.join(dir_model, save_name)
path

'saved_models/model_7'

In [6]:
model = load_model(path)

In [7]:
model

In [8]:
#Test on Aleksashina 1 - Bad result in '00:00:35.000', '00:00:37.000'

In [9]:
data_dir = 'Data'
csv_file = "Participant 1_Aleksashina_Analysis 1_video_20190607_114857_detailed.csv"
csv_path = os.path.join(data_dir, csv_file)
csv_path

'Data/Participant 1_Aleksashina_Analysis 1_video_20190607_114857_detailed.csv'

In [10]:
import pandas as pd

In [11]:
df_test = pd.read_csv(csv_path, sep='\t', skiprows = lambda i: i in range(8))

In [12]:
df_first = df_test.columns[0]
df_test.columns = df_test.columns[1:].insert(-2, 'UNKNOWN')
df_test.insert(0, df_first, df_test.index)
df_test

,Video Time,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted,Valence,Arousal,...,Action Unit 12 - Right - Lip Corner Puller,Action Unit 14 - Right - Dimpler,Action Unit 15 - Right - Lip Corner Depressor,Action Unit 20 - Right - Lip Stretcher,Action Unit 43 - Right - Eyes Closed,Stimulus,Event Marker,UNKNOWN,Participant Name,Analysis Index
00:00:00.000,00:00:00.000,0.973121,0.019527,0.000404,0.043879,0.004099,0.000322,0.001946,-0.024352,0.255187,...,0.0,0.017570,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:00:00.100,00:00:00.100,0.974289,0.020129,0.000382,0.042413,0.004014,0.000298,0.001820,-0.022284,0.260074,...,0.0,0.032680,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:00:00.200,00:00:00.200,0.975457,0.020731,0.000361,0.040947,0.003930,0.000273,0.001693,-0.020216,0.264960,...,0.0,0.047791,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:00:00.300,00:00:00.300,0.975028,0.020480,0.000345,0.042622,0.003916,0.000256,0.001549,-0.022143,0.269347,...,0.0,0.060645,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:00:00.400,00:00:00.400,0.974542,0.020394,0.000326,0.044417,0.003831,0.000235,0.001438,-0.024022,0.273202,...,0.0,0.068510,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
00:01:50.900,00:01:50.900,0.969587,0.016939,0.000846,0.051552,0.004851,0.000162,0.000609,-0.034614,0.317045,...,0.0,0.199020,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:01:51.000,00:01:51.000,0.969071,0.017130,0.000856,0.052158,0.004848,0.000168,0.000615,-0.035027,0.316651,...,0.0,0.202110,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:01:51.100,00:01:51.100,0.968842,0.017460,0.000885,0.052096,0.004807,0.000172,0.000620,-0.034636,0.316144,...,0.0,0.196561,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:01:51.200,00:01:51.200,0.968608,0.018322,0.000899,0.052130,0.004756,0.000176,0.000617,-0.033808,0.315641,...,0.0,0.196161,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1
00:01:51.300,00:01:51.300,0.968453,0.019037,0.000889,0.052191,0.004726,0.000178,0.000603,-0.033154,0.315094,...,0.0,0.193525,0.0,0.0,0.0,No Stimulus,No Event Marker,UNKNOWN,Aleksashina,Analysis 1

In [13]:
seven_fields = [
    'Neutral', 
    'Happy', 
    'Sad', 
    'Angry', 
    'Surprised', 
    'Scared', 
    'Disgusted'
]

In [14]:
seven_vector_test = df_test[seven_fields]
seven_vector_test

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:00.000,0.973121,0.019527,0.000404,0.043879,0.004099,0.000322,0.001946
00:00:00.100,0.974289,0.020129,0.000382,0.042413,0.004014,0.000298,0.001820
00:00:00.200,0.975457,0.020731,0.000361,0.040947,0.003930,0.000273,0.001693
00:00:00.300,0.975028,0.020480,0.000345,0.042622,0.003916,0.000256,0.001549
00:00:00.400,0.974542,0.020394,0.000326,0.044417,0.003831,0.000235,0.001438
...,...,...,...,...,...,...,...
00:01:50.900,0.969587,0.016939,0.000846,0.051552,0.004851,0.000162,0.000609
00:01:51.000,0.969071,0.017130,0.000856,0.052158,0.004848,0.000168,0.000615
00:01:51.100,0.968842,0.017460,0.000885,0.052096,0.004807,0.000172,0.000620
00:01:51.200,0.968608,0.018322,0.000899,0.052130,0.004756,0.000176,0.000617
00:01:51.300,0.968453,0.019037,0.000889,0.052191,0.004726,0.000178,0.000603

In [15]:
pa_fields =     [
    'Valence',
    'Arousal'
]

In [16]:
pa_vector_test = df_test[pa_fields]
pa_vector_test

               Valence   Arousal
00:00:00.000 -0.024352  0.255187
00:00:00.100 -0.022284  0.260074
00:00:00.200 -0.020216  0.264960
00:00:00.300 -0.022143  0.269347
00:00:00.400 -0.024022  0.273202
...                ...       ...
00:01:50.900 -0.034614  0.317045
00:01:51.000 -0.035027  0.316651
00:01:51.100 -0.034636  0.316144
00:01:51.200 -0.033808  0.315641
00:01:51.300 -0.033154  0.315094

[1114 rows x 2 columns]

In [17]:
from neural_network import NeuralNetwork

In [18]:
nn_test = NeuralNetwork(pa_vector_test, seven_vector_test, model)

In [25]:
#Будем дообучаться с '00:00:30.000' до '00:00:38.000'

In [26]:
df_x = nn_test.get_df_xy('00:00:30.000', '00:00:38.000')
df_x

               Valence   Arousal
00:00:30.000  0.725731  0.339765
00:00:30.100  0.737862  0.339765
00:00:30.200  0.726528  0.339271
00:00:30.300  0.712153  0.338363
00:00:30.400  0.709858  0.337356
...                ...       ...
00:00:37.600  0.002470  0.274409
00:00:37.700 -0.014269  0.274178
00:00:37.800 -0.012094  0.273958
00:00:37.900  0.001319  0.273736
00:00:38.000  0.015823  0.273556

[81 rows x 2 columns]

In [27]:
df_y = nn_test.get_df_xy(xy = 'y') # Neutral - 19-23%, Happy - 44-56%, Angry - 66-55%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:30.000,0.132133,0.756668,0.001669,0.030937,0.000408,0.000671,0.001260
00:00:30.100,0.130447,0.768046,0.001361,0.030184,0.000499,0.000711,0.001268
00:00:30.200,0.147706,0.755921,0.001117,0.029393,0.000589,0.000680,0.001202
00:00:30.300,0.164955,0.739512,0.001299,0.027358,0.000643,0.000609,0.001229
00:00:30.400,0.171592,0.735537,0.001367,0.025679,0.000635,0.000525,0.001322
...,...,...,...,...,...,...,...
00:00:37.600,0.227043,0.561071,0.000104,0.558601,0.000207,0.000137,0.000757
00:00:37.700,0.225937,0.553081,0.000104,0.567351,0.000206,0.000137,0.000822
00:00:37.800,0.227376,0.557128,0.000104,0.569222,0.000204,0.000138,0.000881
00:00:37.900,0.228799,0.561518,0.000105,0.560199,0.000205,0.000137,0.000959
00:00:38.000,0.229891,0.565980,0.000106,0.550158,0.000208,0.000136,0.000998

In [28]:
nn_test.predict()

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:30.000,0.223415,0.796755,0.003113,0.000003,0.005675,0.000083,0.000008
00:00:30.100,0.214817,0.805109,0.003107,0.000002,0.005699,0.000081,0.000008
00:00:30.200,0.222936,0.797256,0.003118,0.000003,0.005684,0.000083,0.000008
00:00:30.300,0.233598,0.786927,0.003134,0.000003,0.005671,0.000087,0.000008
00:00:30.400,0.235500,0.785141,0.003146,0.000003,0.005682,0.000088,0.000008
...,...,...,...,...,...,...,...
00:00:37.600,0.906932,0.035407,0.010301,0.038545,0.017076,0.001090,0.000175
00:00:37.700,0.913318,0.026426,0.013198,0.062208,0.022769,0.001334,0.000227
00:00:37.800,0.914684,0.026194,0.012847,0.060233,0.022213,0.001296,0.000218
00:00:37.900,0.908717,0.033873,0.010502,0.040604,0.017513,0.001105,0.000177
00:00:38.000,0.880310,0.065198,0.008065,0.020703,0.012117,0.000957,0.000154

In [29]:
len(df_x)

81

In [30]:
import numpy as np

In [31]:
x = []
for i in range(len(df_x)):
    x.append((df_x['Valence'][i], df_x['Arousal'][i])) 
    
x = np.array(x)

In [32]:
x.shape

(81, 2)

In [33]:
y = []
for i in range(len(df_y)):
    y.append(tuple(df_y[col][i] for col in df_y.columns)) 
y = np.array(y)

In [34]:
y.shape

(81, 7)

In [35]:
model.fit(x=x, y=y, epochs=10, batch_size=30)

Epoch 1/10
3/3 [==============================] - 0s 2ms/step - loss: 0.0531
Epoch 2/10
3/3 [==============================] - 0s 3ms/step - loss: 0.0506
Epoch 3/10
3/3 [==============================] - 0s 2ms/step - loss: 0.0483
Epoch 4/10
3/3 [==============================] - 0s 4ms/step - loss: 0.0460
Epoch 5/10
3/3 [==============================] - 0s 4ms/step - loss: 0.0438
Epoch 6/10
3/3 [==============================] - 0s 4ms/step - loss: 0.0419
Epoch 7/10
3/3 [==============================] - 0s 3ms/step - loss: 0.0399
Epoch 8/10
3/3 [==============================] - 0s 2ms/step - loss: 0.0380
Epoch 9/10
3/3 [==============================] - 0s 2ms/step - loss: 0.0364
Epoch 10/10
3/3 [==============================] - 0s 3ms/step - loss: 0.0347

In [114]:
# Пройдём тест заново

In [36]:
df_x = nn_test.get_df_xy('00:00:00.000', '00:00:00.100')
df_x

               Valence   Arousal
00:00:00.000 -0.024352  0.255187
00:00:00.100 -0.022284  0.260074

In [37]:
df_y = nn_test.get_df_xy(xy = 'y') #Neutral - 97%, Happy - 1-2%, Angry - 4%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:00.000,0.973121,0.019527,0.000404,0.043879,0.004099,0.000322,0.001946
00:00:00.100,0.974289,0.020129,0.000382,0.042413,0.004014,0.000298,0.001820

In [38]:
nn_test.predict() #Neutral - 76% - err - 6%, Happy - 2-3% - err - 1-2%, Angry - 7-8% - err - 3-4% - ХОРОШО.

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:00.000,0.764393,0.080506,0.022342,0.101703,0.033771,0.002850,0.000742
00:00:00.100,0.763331,0.080317,0.021874,0.095881,0.033322,0.002725,0.000700

In [120]:
df_x = nn_test.get_df_xy('00:00:16.000', '00:00:17.000')
df_x

               Valence   Arousal
00:00:16.000  0.982274  0.763761
00:00:16.100  0.982497  0.761543
00:00:16.200  0.982457  0.759395
00:00:16.300  0.982780  0.757186
00:00:16.400  0.983181  0.754926
00:00:16.500  0.983513  0.752694
00:00:16.600  0.983897  0.750396
00:00:16.700  0.983741  0.748033
00:00:16.800  0.982967  0.745634
00:00:16.900  0.982504  0.743361
00:00:17.000  0.982369  0.741136

In [121]:
df_y = nn_test.get_df_xy(xy = 'y') # Happy - 98%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:16.000,0.007980,0.984054,0.000013,0.001780,0.002200,0.001339,0.000060
00:00:16.100,0.007884,0.984246,0.000013,0.001749,0.002323,0.001302,0.000059
00:00:16.200,0.007840,0.984331,0.000013,0.001875,0.002367,0.001226,0.000057
00:00:16.300,0.007679,0.984653,0.000014,0.001873,0.002433,0.001246,0.000056
00:00:16.400,0.007520,0.984970,0.000014,0.001789,0.002598,0.001347,0.000054
00:00:16.500,0.007385,0.985240,0.000014,0.001727,0.002701,0.001379,0.000054
00:00:16.600,0.007240,0.985530,0.000014,0.001633,0.002647,0.001379,0.000053
00:00:16.700,0.007345,0.985320,0.000014,0.001580,0.002596,0.001452,0.000057
00:00:16.800,0.007730,0.984552,0.000013,0.001585,0.002543,0.001457,0.000060
00:00:16.900,0.007821,0.984368,0.000013,0.001865,0.002409,0.001359,0.000064
00:00:17.000,0.007792,0.984427,0.000013,0.002058,0.002319,0.001242,0.000064

In [122]:
nn_test.predict() #Happy - 94% - err - 4% - ХОРОШО.

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:16.000,0.059216,0.941064,0.000690,2.898643e-09,0.001928,0.000003,1.121773e-07
00:00:16.100,0.059297,0.941032,0.000695,2.954979e-09,0.001940,0.000003,1.141648e-07
00:00:16.200,0.059436,0.940939,0.000700,3.018823e-09,0.001951,0.000003,1.162123e-07
00:00:16.300,0.059494,0.940931,0.000705,3.073905e-09,0.001963,0.000003,1.182265e-07
00:00:16.400,0.059537,0.940939,0.000711,3.129031e-09,0.001976,0.000003,1.203000e-07
00:00:16.500,0.059595,0.940932,0.000716,3.186573e-09,0.001988,0.000003,1.224062e-07
00:00:16.600,0.059644,0.940935,0.000722,3.245459e-09,0.002001,0.000003,1.245971e-07
00:00:16.700,0.059824,0.940806,0.000728,3.326621e-09,0.002014,0.000003,1.270991e-07
00:00:16.800,0.060150,0.940526,0.000734,3.433515e-09,0.002027,0.000003,1.299284e-07
00:00:16.900,0.060398,0.940325,0.000740,3.527821e-09,0.002040,0.000003,1.325614e-07
00:00:17.000,0.060566,0.940205,0.000746,3.610372e-09,0.002052,0.000003,1.350620e-07

In [39]:
df_x = nn_test.get_df_xy('00:00:21.000', '00:00:23.000')
df_x

               Valence   Arousal
00:00:21.000  0.964579  0.663201
00:00:21.100  0.943782  0.659207
00:00:21.200  0.871111  0.652940
00:00:21.300  0.762326  0.644623
00:00:21.400  0.640243  0.633058
00:00:21.500  0.520727  0.618742
00:00:21.600  0.413288  0.603645
00:00:21.700  0.323662  0.588063
00:00:21.800  0.251679  0.572172
00:00:21.900  0.194049  0.555099
00:00:22.000  0.148148  0.536985
00:00:22.100  0.111093  0.518199
00:00:22.200  0.080803  0.499630
00:00:22.300  0.054733  0.481918
00:00:22.400  0.034692  0.465653
00:00:22.500  0.019820  0.451096
00:00:22.600  0.007910  0.438177
00:00:22.700 -0.006161  0.426671
00:00:22.800 -0.020030  0.416402
00:00:22.900 -0.035617  0.407217
00:00:23.000 -0.047857  0.399033

In [40]:
df_y = nn_test.get_df_xy(xy = 'y') #Neutral - 1-95%, Happy - 96-1%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:21.000,0.019636,0.966993,0.000121,0.002414,0.002644,0.002096,0.000165
00:00:21.100,0.051523,0.946047,0.000221,0.002265,0.002547,0.002061,0.000355
00:00:21.200,0.135548,0.875374,0.000303,0.004263,0.002576,0.001903,0.000715
00:00:21.300,0.247636,0.770754,0.000351,0.008427,0.002592,0.001688,0.000968
00:00:21.400,0.365667,0.655739,0.000364,0.015496,0.002655,0.001459,0.001092
00:00:21.500,0.477339,0.544180,0.000356,0.023453,0.002761,0.001233,0.001120
00:00:21.600,0.576351,0.443905,0.000341,0.030617,0.002846,0.001026,0.001090
00:00:21.700,0.660592,0.357482,0.000767,0.033820,0.002812,0.000842,0.001407
00:00:21.800,0.730230,0.284993,0.004092,0.033314,0.002743,0.000681,0.002124
00:00:21.900,0.786891,0.225365,0.007646,0.031317,0.002668,0.000547,0.002939
00:00:22.000,0.831870,0.176788,0.012967,0.028640,0.002633,0.000438,0.003709
00:00:22.100,0.867497,0.137732,0.016150,0.026639,0.002577,0.000354,0.004042
00:00:22.200,0.894690,0.106713,0.017925,0.025911,0.002472,0.000289,0.004167
00:00:22.300,0.913525,0.082282,0.019553,0.027548,0.002337,0.000237,0.004469
00:00:22.400,0.927302,0.063380,0.020318,0.028688,0.002183,0.000197,0.004664
00:00:22.500,0.937785,0.048936,0.019899,0.029117,0.002059,0.000164,0.004699
00:00:22.600,0.946148,0.037900,0.018283,0.029990,0.002009,0.000141,0.004482
00:00:22.700,0.950496,0.029679,0.015991,0.035840,0.002078,0.000128,0.004055
00:00:22.800,0.952492,0.023617,0.013573,0.043648,0.002294,0.000120,0.003566
00:00:22.900,0.951661,0.018998,0.011318,0.054615,0.002543,0.000117,0.003085
00:00:23.000,0.950978,0.015523,0.009315,0.063379,0.002740,0.000121,0.002662

In [41]:
nn_test.predict() #Neutral - 7-84% - err - 6-11%, Happy - 93-3% - err - 3% - Допустимо!

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:21.000,0.013611,0.987249,0.000873,9.715022e-09,0.001096,0.000006,9.414182e-07
00:00:21.100,0.014843,0.985997,0.000904,1.267687e-08,0.001138,0.000007,1.032140e-06
00:00:21.200,0.019775,0.980827,0.000992,2.983228e-08,0.001267,0.000009,1.343890e-06
00:00:21.300,0.030222,0.969477,0.001137,1.063200e-07,0.001483,0.000013,1.979228e-06
00:00:21.400,0.048519,0.948820,0.001335,4.522116e-07,0.001783,0.000021,3.107621e-06
00:00:21.500,0.076704,0.915906,0.001578,1.920268e-06,0.002154,0.000033,4.942747e-06
00:00:21.600,0.114578,0.870601,0.001848,7.198358e-06,0.002569,0.000050,7.627441e-06
00:00:21.700,0.158538,0.817528,0.002130,2.230729e-05,0.003004,0.000072,1.120103e-05
00:00:21.800,0.204829,0.762416,0.002404,5.710764e-05,0.003415,0.000099,1.563854e-05
00:00:21.900,0.259549,0.705113,0.002565,1.251698e-04,0.003517,0.000128,2.107075e-05
00:00:22.000,0.311573,0.652433,0.002740,2.440512e-04,0.003643,0.000162,2.763539e-05
00:00:22.100,0.406343,0.443234,0.004409,7.141531e-04,0.006628,0.000246,4.275436e-05
00:00:22.200,0.511715,0.231219,0.007750,2.165884e-03,0.013641,0.000385,6.749240e-05
00:00:22.300,0.601133,0.117291,0.012453,5.606979e-03,0.024854,0.000566,1.005952e-04
00:00:22.400,0.642062,0.080267,0.017337,1.038983e-02,0.036571,0.000775,1.437068e-04
00:00:22.500,0.619986,0.088195,0.021017,1.288977e-02,0.043025,0.001010,2.062917e-04
00:00:22.600,0.612940,0.091992,0.023748,1.650774e-02,0.047145,0.001231,2.712905e-04
00:00:22.700,0.608395,0.094216,0.027139,2.287561e-02,0.051992,0.001528,3.686249e-04
00:00:22.800,0.602212,0.096646,0.031091,3.118041e-02,0.057599,0.001889,4.985332e-04
00:00:22.900,0.591487,0.099876,0.036587,4.311031e-02,0.065489,0.002392,6.996095e-04
00:00:23.000,0.594388,0.100778,0.039836,5.544317e-02,0.067316,0.002828,9.118915e-04

In [42]:
df_x = nn_test.get_df_xy('00:00:36.000', '00:00:37.000')
df_x

               Valence   Arousal
00:00:36.000 -0.214707  0.260461
00:00:36.100 -0.215263  0.259816
00:00:36.200 -0.183632  0.259228
00:00:36.300 -0.147168  0.258936
00:00:36.400 -0.117836  0.258876
00:00:36.500 -0.091053  0.258876
00:00:36.600 -0.067193  0.262077
00:00:36.700 -0.040169  0.265263
00:00:36.800 -0.026193  0.267305
00:00:36.900 -0.011659  0.269329
00:00:37.000  0.001245  0.270993

In [43]:
df_y = nn_test.get_df_xy(xy = 'y') # Neutral - 19-23%, Happy - 44-56%, Angry - 66-55%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:36.000,0.189787,0.446914,0.000195,0.661620,0.000168,0.000154,0.000912
00:00:36.100,0.184945,0.455178,0.000176,0.670441,0.000158,0.000153,0.000907
00:00:36.200,0.189195,0.478034,0.000159,0.661666,0.000151,0.000145,0.000883
00:00:36.300,0.196710,0.498410,0.000149,0.645577,0.000148,0.000137,0.000835
00:00:36.400,0.201433,0.516213,0.000143,0.634049,0.000147,0.000128,0.000784
00:00:36.500,0.206537,0.530494,0.000139,0.621547,0.000150,0.000119,0.000746
00:00:36.600,0.213259,0.539001,0.000133,0.606194,0.000154,0.000111,0.000718
00:00:36.700,0.216637,0.549414,0.000127,0.589583,0.000160,0.000107,0.000705
00:00:36.800,0.218805,0.557725,0.000121,0.583918,0.000159,0.000102,0.000706
00:00:36.900,0.219156,0.565864,0.000115,0.577523,0.000164,0.000101,0.000695
00:00:37.000,0.220346,0.569772,0.000110,0.568527,0.000171,0.000101,0.000689

In [44]:
nn_test.predict() # Лучше, но плохо пока что. Neutral - err - 33-49%, Happy - err - 34-40%, 
# Angry - err - 18-52%

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:36.000,0.513486,0.109771,0.051246,0.482474,0.007899,0.004069,0.044556
00:00:36.100,0.512901,0.109860,0.051231,0.483251,0.007840,0.004061,0.044926
00:00:36.200,0.538049,0.110773,0.053873,0.447804,0.011797,0.004853,0.032219
00:00:36.300,0.566876,0.111771,0.057058,0.407525,0.018848,0.005954,0.021828
00:00:36.400,0.589786,0.112550,0.059739,0.375939,0.027398,0.007014,0.015907
00:00:36.500,0.639252,0.102606,0.048450,0.295905,0.033823,0.005862,0.006669
00:00:36.600,0.685039,0.094429,0.037312,0.200858,0.035857,0.004540,0.002882
00:00:36.700,0.733179,0.085844,0.027649,0.123462,0.038233,0.003401,0.001114
00:00:36.800,0.752880,0.081918,0.023297,0.097199,0.035619,0.002831,0.000748
00:00:36.900,0.769637,0.078200,0.019187,0.077591,0.029886,0.002267,0.000541
00:00:37.000,0.715167,0.133989,0.015119,0.043173,0.021560,0.001944,0.000471

In [45]:
df_x = nn_test.get_df_xy('00:00:42.000', '00:00:42.500')
df_x

               Valence   Arousal
00:00:42.000 -0.431208  0.258913
00:00:42.100 -0.276828  0.258345
00:00:42.200 -0.126044  0.257805
00:00:42.300  0.012774  0.257292
00:00:42.400  0.132797  0.256804
00:00:42.500  0.236716  0.256341

In [46]:
df_y = nn_test.get_df_xy(xy = 'y') # Neutral - 50%, Happy - 18-46%, Angry - 61-22%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:42.000,0.502243,0.181685,0.000275,0.612893,0.003011,0.000579,0.002119
00:00:42.100,0.535251,0.241092,0.000246,0.517920,0.004662,0.000863,0.002023
00:00:42.200,0.544003,0.302449,0.000221,0.428494,0.006192,0.001107,0.001881
00:00:42.300,0.536196,0.361938,0.000196,0.349164,0.007338,0.001198,0.001740
00:00:42.400,0.522931,0.414101,0.000175,0.281304,0.008044,0.001221,0.001633
00:00:42.500,0.502529,0.461604,0.000155,0.224888,0.008423,0.001205,0.001563

In [47]:
nn_test.predict() # Более-менее. Neutral - 50-70% - err - 1-20%, Happy - 5-30% - err - 13-16%, 
# Angry - 35-0% - err - 26-21%

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:42.000,0.326198,0.140653,0.024529,0.370367,0.000411,0.000870,0.238493
00:00:42.100,0.467252,0.113029,0.042415,0.493855,0.003219,0.002696,0.080418
00:00:42.200,0.583181,0.112510,0.059035,0.384922,0.024671,0.006713,0.017456
00:00:42.300,0.650017,0.239915,0.011722,0.024728,0.014694,0.001791,0.000453
00:00:42.400,0.471993,0.522862,0.006860,0.004095,0.007721,0.000991,0.000240
00:00:42.500,0.360174,0.636267,0.006538,0.001377,0.007661,0.000742,0.000173

In [48]:
df_x = nn_test.get_df_xy('00:00:42.500', '00:00:43.000')
df_x

               Valence   Arousal
00:00:42.500  0.236716  0.256341
00:00:42.600  0.321085  0.255900
00:00:42.700  0.388269  0.255482
00:00:42.800  0.446405  0.255151
00:00:42.900  0.496219  0.255151
00:00:43.000  0.541093  0.258207

In [50]:
df_y = nn_test.get_df_xy(xy = 'y') # Neutral - 50-38%, Happy - 46-61%, Angry - 22-7%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:42.500,0.502529,0.461604,0.000155,0.224888,0.008423,0.001205,0.001563
00:00:42.600,0.478964,0.499737,0.000136,0.178652,0.008664,0.001159,0.001451
00:00:42.700,0.460155,0.529674,0.000120,0.141405,0.008811,0.001105,0.001370
00:00:42.800,0.436789,0.558047,0.000108,0.111643,0.008762,0.001038,0.001290
00:00:42.900,0.412718,0.584249,0.000096,0.088029,0.008597,0.000969,0.001202
00:00:43.000,0.387863,0.610635,0.000088,0.069542,0.008211,0.000915,0.001102

In [51]:
nn_test.predict() # Более-менее. Neutral - 70-40% - err - 20-2%, Happy - 30-62% - err - 16-1%, 
# Angry - 0% - err - 22-7%

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:42.500,0.360174,0.636267,0.006538,0.001377,0.007661,0.000742,0.000173
00:00:42.600,0.275223,0.720426,0.006445,0.000558,0.007832,0.000596,0.000135
00:00:42.700,0.221920,0.776230,0.006210,0.000270,0.007603,0.000495,0.000111
00:00:42.800,0.185823,0.816214,0.005871,0.000143,0.007094,0.000416,0.000094
00:00:42.900,0.158569,0.845935,0.005590,0.000083,0.006678,0.000358,0.000081
00:00:43.000,0.136162,0.869786,0.005292,0.000049,0.006267,0.000306,0.000069

In [145]:
df_x = nn_test.get_df_xy('00:00:47.000', '00:00:48.000')
df_x

               Valence   Arousal
00:00:47.000  0.402050  0.299550
00:00:47.100  0.402333  0.299550
00:00:47.200  0.403500  0.299481
00:00:47.300  0.406274  0.299384
00:00:47.400  0.406193  0.299230
00:00:47.500  0.415290  0.299125
00:00:47.600  0.418139  0.298942
00:00:47.700  0.423579  0.298760
00:00:47.800  0.431206  0.298555
00:00:47.900  0.440355  0.298336
00:00:48.000  0.450727  0.298102

In [146]:
df_y = nn_test.get_df_xy(xy = 'y') # Neutral - 71-69%, Happy - 40-45%
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:47.000,0.710237,0.407821,0.000096,0.005771,0.004438,0.000165,0.000185
00:00:47.100,0.711148,0.408063,0.000100,0.005730,0.004281,0.000168,0.000181
00:00:47.200,0.713677,0.409234,0.000102,0.005734,0.004085,0.000167,0.000180
00:00:47.300,0.714254,0.412195,0.000105,0.005921,0.003882,0.000161,0.000175
00:00:47.400,0.716460,0.412444,0.000108,0.006251,0.003699,0.000162,0.000173
00:00:47.500,0.713320,0.421777,0.000107,0.006487,0.003612,0.000162,0.000170
00:00:47.600,0.714224,0.424814,0.000107,0.006675,0.003599,0.000168,0.000171
00:00:47.700,0.710022,0.430272,0.000107,0.006693,0.003646,0.000182,0.000167
00:00:47.800,0.706393,0.437887,0.000105,0.006681,0.003628,0.000192,0.000165
00:00:47.900,0.701044,0.447169,0.000104,0.006814,0.003610,0.000197,0.000161
00:00:48.000,0.692921,0.457616,0.000106,0.006888,0.003541,0.000198,0.000157

In [147]:
nn_test.predict() # Плоховато на Neutral (Сойдёт). Neutral - 53-48% - err - 19%, Happy - 48-53% - err - 8%

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:00:47.000,0.534581,0.484938,0.003755,0.000129,0.005676,0.000235,0.000029
00:00:47.100,0.534290,0.485243,0.003755,0.000129,0.005677,0.000235,0.000029
00:00:47.200,0.533105,0.486491,0.003756,0.000127,0.005680,0.000234,0.000029
00:00:47.300,0.530269,0.489468,0.003755,0.000124,0.005687,0.000233,0.000028
00:00:47.400,0.530394,0.489353,0.003757,0.000124,0.005689,0.000233,0.000028
00:00:47.500,0.521025,0.499158,0.003753,0.000113,0.005708,0.000228,0.000028
00:00:47.600,0.518127,0.502204,0.003754,0.000110,0.005717,0.000227,0.000027
00:00:47.700,0.512546,0.508047,0.003754,0.000104,0.005730,0.000224,0.000027
00:00:47.800,0.504704,0.516242,0.003752,0.000096,0.005748,0.000221,0.000026
00:00:47.900,0.495286,0.526068,0.003750,0.000087,0.005770,0.000216,0.000026
00:00:48.000,0.484611,0.537184,0.003747,0.000078,0.005794,0.000211,0.000025

In [149]:
df_x = nn_test.get_df_xy('00:01:06.000', '00:01:07.000') 
df_x

               Valence   Arousal
00:01:06.000 -0.103109  0.283163
00:01:06.100 -0.092284  0.282977
00:01:06.200 -0.085587  0.282701
00:01:06.300 -0.081722  0.282360
00:01:06.400 -0.070623  0.281872
00:01:06.500 -0.059186  0.281336
00:01:06.600 -0.049184  0.280761
00:01:06.700 -0.035158  0.280176
00:01:06.800 -0.022642  0.279583
00:01:06.900 -0.008292  0.278953
00:01:07.000 -0.001789  0.278458

In [151]:
df_y = nn_test.get_df_xy(xy = 'y') # Удивление (Neutral + Happy)
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:06.000,0.735105,0.152540,0.000869,0.255649,0.001597,0.000651,0.000894
00:01:06.100,0.734141,0.157158,0.000902,0.249441,0.001582,0.000660,0.000887
00:01:06.200,0.734078,0.159937,0.000916,0.245525,0.001590,0.000643,0.000889
00:01:06.300,0.734819,0.161817,0.000917,0.243539,0.001637,0.000628,0.000900
00:01:06.400,0.744191,0.165657,0.000897,0.236280,0.001662,0.000610,0.000898
00:01:06.500,0.753816,0.168743,0.000880,0.227929,0.001680,0.000600,0.000896
00:01:06.600,0.764034,0.169269,0.000862,0.218453,0.001695,0.000586,0.000879
00:01:06.700,0.775219,0.172246,0.000826,0.207403,0.001711,0.000575,0.000872
00:01:06.800,0.785698,0.174468,0.000797,0.197109,0.001756,0.000571,0.000872
00:01:06.900,0.793438,0.177854,0.000771,0.186146,0.001756,0.000576,0.000882
00:01:07.000,0.796028,0.178233,0.000745,0.180022,0.001700,0.000569,0.000939

In [152]:
nn_test.predict() # Средненько (Сойдёт)! Neutral - err 4-12%, Happy - err 11-15%, ANGRY - err 6-14%

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:06.000,0.778250,0.044633,0.041217,0.193243,0.036936,0.003432,0.002631
00:01:06.100,0.804511,0.041427,0.035912,0.169843,0.036551,0.003110,0.001841
00:01:06.200,0.819505,0.039569,0.032975,0.156567,0.036312,0.002927,0.001478
00:01:06.300,0.827706,0.038549,0.031395,0.149335,0.036171,0.002828,0.001303
00:01:06.400,0.849702,0.035720,0.027234,0.129999,0.035780,0.002557,0.000905
00:01:06.500,0.869893,0.033016,0.023510,0.112349,0.035380,0.002306,0.000621
00:01:06.600,0.885399,0.030826,0.020622,0.099060,0.034554,0.002098,0.000453
00:01:06.700,0.898024,0.028783,0.017142,0.082517,0.029078,0.001737,0.000340
00:01:06.800,0.906637,0.027367,0.014697,0.068448,0.025278,0.001468,0.000264
00:01:06.900,0.915690,0.025828,0.012315,0.055052,0.021516,0.001211,0.000198
00:01:07.000,0.915383,0.027729,0.011235,0.047080,0.019451,0.001118,0.000177

In [154]:
df_x = nn_test.get_df_xy('00:01:25.000', '00:01:26.000')
df_x

               Valence   Arousal
00:01:25.000  0.780514  0.429943
00:01:25.100  0.770180  0.429943
00:01:25.200  0.763402  0.429846
00:01:25.300  0.759536  0.429766
00:01:25.400  0.746653  0.429272
00:01:25.500  0.735193  0.428437
00:01:25.600  0.723706  0.427788
00:01:25.700  0.711666  0.427098
00:01:25.800  0.700324  0.426254
00:01:25.900  0.687633  0.425157
00:01:26.000  0.678700  0.423820

In [155]:
df_y = nn_test.get_df_xy(xy = 'y') # Neutral - 17-31, Happy 78-68
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:25.000,0.170274,0.782413,0.000291,0.001899,0.000740,0.000223,0.000262
00:01:25.100,0.184500,0.772122,0.000297,0.001941,0.000743,0.000216,0.000269
00:01:25.200,0.192932,0.765428,0.000299,0.002026,0.000752,0.000217,0.000271
00:01:25.300,0.197078,0.761560,0.000346,0.002024,0.000750,0.000216,0.000280
00:01:25.400,0.213567,0.748624,0.000404,0.001971,0.000785,0.000210,0.000304
00:01:25.500,0.234013,0.737090,0.000432,0.001897,0.000816,0.000200,0.000325
00:01:25.600,0.253310,0.725588,0.000472,0.001882,0.000829,0.000195,0.000335
00:01:25.700,0.271598,0.713548,0.000502,0.001882,0.000841,0.000194,0.000344
00:01:25.800,0.284844,0.702225,0.000512,0.001901,0.000863,0.000196,0.000349
00:01:25.900,0.300856,0.689563,0.000540,0.001930,0.000882,0.000197,0.000374
00:01:26.000,0.319784,0.680661,0.000564,0.001960,0.000893,0.000195,0.000386

In [156]:
nn_test.predict() # Neutral - 17-24% - err 0-7%, Happy 84-77% - err 6-1% - Здорово!

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:25.000,0.172218,0.841013,0.002260,6.438474e-07,0.004513,0.000040,0.000003
00:01:25.100,0.178407,0.834953,0.002263,7.187509e-07,0.004497,0.000041,0.000003
00:01:25.200,0.182576,0.830868,0.002266,7.732907e-07,0.004488,0.000042,0.000003
00:01:25.300,0.184992,0.828500,0.002268,8.064242e-07,0.004483,0.000043,0.000003
00:01:25.400,0.193259,0.820397,0.002277,9.294828e-07,0.004469,0.000044,0.000004
00:01:25.500,0.200914,0.812897,0.002287,1.058722e-06,0.004462,0.000045,0.000004
00:01:25.600,0.208779,0.805161,0.002296,1.204089e-06,0.004452,0.000047,0.000004
00:01:25.700,0.217266,0.796794,0.002306,1.378063e-06,0.004443,0.000049,0.000004
00:01:25.800,0.225522,0.788646,0.002317,1.567842e-06,0.004436,0.000050,0.000004
00:01:25.900,0.235051,0.779231,0.002330,1.814039e-06,0.004430,0.000052,0.000004
00:01:26.000,0.242035,0.772357,0.002344,2.021267e-06,0.004433,0.000054,0.000005

In [157]:
df_x = nn_test.get_df_xy('00:01:38.000', '00:01:39.000')
df_x

               Valence   Arousal
00:01:38.000  0.724162  0.396821
00:01:38.100  0.725256  0.395991
00:01:38.200  0.725922  0.395153
00:01:38.300  0.732286  0.394256
00:01:38.400  0.728995  0.393182
00:01:38.500  0.722660  0.391859
00:01:38.600  0.718987  0.390558
00:01:38.700  0.718649  0.389392
00:01:38.800  0.717313  0.388218
00:01:38.900  0.715846  0.386973
00:01:39.000  0.716951  0.385782

In [158]:
df_y = nn_test.get_df_xy(xy = 'y') # Neutral - 24-28, Happy 72-71
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:38.000,0.247921,0.727225,0.000302,0.002924,0.002745,0.003063,0.000617
00:01:38.100,0.245379,0.728168,0.000297,0.002864,0.002651,0.002912,0.000596
00:01:38.200,0.248069,0.728863,0.000286,0.002826,0.002657,0.002941,0.000590
00:01:38.300,0.249211,0.735282,0.000272,0.002743,0.002670,0.002996,0.000580
00:01:38.400,0.262386,0.731932,0.000260,0.002584,0.002722,0.002937,0.000555
00:01:38.500,0.279061,0.725456,0.000248,0.002368,0.002732,0.002796,0.000528
00:01:38.600,0.286941,0.721679,0.000234,0.002201,0.002678,0.002692,0.000514
00:01:38.700,0.286773,0.721287,0.000228,0.002108,0.002710,0.002639,0.000534
00:01:38.800,0.286524,0.719876,0.000228,0.002073,0.002824,0.002564,0.000535
00:01:38.900,0.286901,0.718372,0.000235,0.002071,0.002820,0.002526,0.000525
00:01:39.000,0.282643,0.719507,0.000245,0.002121,0.002750,0.002556,0.000521

In [159]:
nn_test.predict() # Нормас

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:38.000,0.214025,0.802058,0.002556,0.000002,0.004849,0.000057,0.000005
00:01:38.100,0.213414,0.802716,0.002563,0.000002,0.004862,0.000058,0.000005
00:01:38.200,0.213102,0.803079,0.002570,0.000002,0.004874,0.000058,0.000005
00:01:38.300,0.208874,0.807293,0.002576,0.000002,0.004897,0.000057,0.000005
00:01:38.400,0.211329,0.804953,0.002586,0.000002,0.004906,0.000058,0.000005
00:01:38.500,0.215977,0.800473,0.002601,0.000002,0.004913,0.000060,0.000005
00:01:38.600,0.218805,0.797780,0.002614,0.000002,0.004924,0.000061,0.000005
00:01:38.700,0.219260,0.797413,0.002625,0.000002,0.004940,0.000061,0.000005
00:01:38.800,0.220426,0.796346,0.002636,0.000002,0.004953,0.000062,0.000005
00:01:38.900,0.221703,0.795175,0.002648,0.000002,0.004968,0.000062,0.000005
00:01:39.000,0.221135,0.795816,0.002658,0.000002,0.004986,0.000063,0.000006

In [160]:
N_new = 7

In [161]:
dir_model = 'saved_models'

In [162]:
save_name = f'model_{N_new}'

In [163]:
import os

In [164]:
path = os.path.join(dir_model, save_name)
path

'saved_models/model_7'

In [165]:
model.save(path)

INFO:tensorflow:Assets written to: saved_models/model_7/assets

In [166]:
model

In [167]:
from tensorflow.keras.models import load_model

In [168]:
model = load_model(path)

In [169]:
nn = NeuralNetwork(pa_vector_test, seven_vector_test, model)

In [170]:
#Last test

In [171]:
df_x = nn.get_df_xy('00:01:38.000', '00:01:39.000')
df_x

               Valence   Arousal
00:01:38.000  0.724162  0.396821
00:01:38.100  0.725256  0.395991
00:01:38.200  0.725922  0.395153
00:01:38.300  0.732286  0.394256
00:01:38.400  0.728995  0.393182
00:01:38.500  0.722660  0.391859
00:01:38.600  0.718987  0.390558
00:01:38.700  0.718649  0.389392
00:01:38.800  0.717313  0.388218
00:01:38.900  0.715846  0.386973
00:01:39.000  0.716951  0.385782

In [172]:
df_y = nn.get_df_xy(xy = 'y') # Neutral - 24-28, Happy 72-71
df_y

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:38.000,0.247921,0.727225,0.000302,0.002924,0.002745,0.003063,0.000617
00:01:38.100,0.245379,0.728168,0.000297,0.002864,0.002651,0.002912,0.000596
00:01:38.200,0.248069,0.728863,0.000286,0.002826,0.002657,0.002941,0.000590
00:01:38.300,0.249211,0.735282,0.000272,0.002743,0.002670,0.002996,0.000580
00:01:38.400,0.262386,0.731932,0.000260,0.002584,0.002722,0.002937,0.000555
00:01:38.500,0.279061,0.725456,0.000248,0.002368,0.002732,0.002796,0.000528
00:01:38.600,0.286941,0.721679,0.000234,0.002201,0.002678,0.002692,0.000514
00:01:38.700,0.286773,0.721287,0.000228,0.002108,0.002710,0.002639,0.000534
00:01:38.800,0.286524,0.719876,0.000228,0.002073,0.002824,0.002564,0.000535
00:01:38.900,0.286901,0.718372,0.000235,0.002071,0.002820,0.002526,0.000525
00:01:39.000,0.282643,0.719507,0.000245,0.002121,0.002750,0.002556,0.000521

In [173]:
nn.predict() # Neutral - err 5-1%, Happy 3% - НОРМ!

,Neutral,Happy,Sad,Angry,Surprised,Scared,Disgusted
00:01:38.000,0.214025,0.802058,0.002556,0.000002,0.004849,0.000057,0.000005
00:01:38.100,0.213414,0.802716,0.002563,0.000002,0.004862,0.000058,0.000005
00:01:38.200,0.213102,0.803079,0.002570,0.000002,0.004874,0.000058,0.000005
00:01:38.300,0.208874,0.807293,0.002576,0.000002,0.004897,0.000057,0.000005
00:01:38.400,0.211329,0.804953,0.002586,0.000002,0.004906,0.000058,0.000005
00:01:38.500,0.215977,0.800473,0.002601,0.000002,0.004913,0.000060,0.000005
00:01:38.600,0.218805,0.797780,0.002614,0.000002,0.004924,0.000061,0.000005
00:01:38.700,0.219260,0.797413,0.002625,0.000002,0.004940,0.000061,0.000005
00:01:38.800,0.220426,0.796346,0.002636,0.000002,0.004953,0.000062,0.000005
00:01:38.900,0.221703,0.795175,0.002648,0.000002,0.004968,0.000062,0.000005
00:01:39.000,0.221135,0.795816,0.002658,0.000002,0.004986,0.000063,0.000006